<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="noticeAction" class="com.huaxin.action.NoticeAction" scope="prototype">
        <property name="noticeDao" ref="noticeDao"/>
    </bean>
    
    <bean id="limitonAction" class="com.huaxin.action.LimitonAction" scope="prototype">
        <property name="rolesDao" ref="rolesDao"/>
        <property name="resourcesDao" ref="resourcesDao"/>
    </bean>
    
    <bean id="ajaxAction" class="com.huaxin.action.AjaxAction" scope="prototype">
        <property name="rolesDao" ref="rolesDao"/>
    </bean>
</beans>
